header .text-logo {
    flex-direction: column;
    display: flex;
    line-height: 1;
    padding-top: 0.5rem;
    user-select: none;
    mix-blend-mode: difference;
}

header .text-logo .subtext {
    padding-left: 1.5rem;
    text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 97%;
  transform: scaleX(0);
  height: 2px;
  opacity: 0;
  bottom: 3px;
  left: 1%;
  background-color: var(--black);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

.hover-underline-animation.right::after {
  transform-origin: bottom left;
}

.hover-underline-animation.right:hover::after {
  transform-origin: bottom right;
}