.a1 {
    left: 50%;
    transform: translateX(-50%);

    z-index: 101;
    position: absolute;

    width: 700px;
    height: 500px;
    will-change: transform;

    box-sizing: border-box;
    
    background-color:  var(--dark-beige);
    border-radius: 15px;
    top: 120px;


    cursor: pointer;
}

.a1-title{
    color: var(--beige);
    margin-left: 30px;
    margin-top: 20px;
}

.a1-text1{
    color: var(--beige);
    margin-left: 40px;
    margin-right: 40px;
}

.a1-text2{
    margin-top: 1rem;
    color: var(--beige);
    text-align: justify;
        margin-left: 40px;
    margin-right: 40px;
}

.a2 {
    left: 50%;
    transform: translateX(-50%);

    z-index: 100;
    position: absolute;

    width: 500px;
    height: 500px;
    will-change: transform;

    box-sizing: border-box;
    
    /* border-style: solid; */
    border-width: 1px;

    border-radius: 15px;
    top: 120px;
}

.a2-left{
    position: absolute;
    width: 500px;
    height: 90%;
    left: 0px;
    top: 5%;
    background-color: var(--dark-beige);

    opacity: 0;
    border-radius: 15px;
        cursor: pointer;
}

.a2-right{
    position: absolute;
    width: 500px;
    height: 90%;
    right: 0px;
    top: 5%;
    background-color: var(--dark-beige);
    border-radius: 15px;
        cursor: pointer;
    opacity: 0;
}

.a2-left-title{
    color: var(--beige);
    margin-left: 30px;
    margin-top: 20px;
}

.a2-left-text1{
    color: var(--beige);
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
}



.a2-right-title{
    color: var(--beige);
    margin-left: 30px;
    margin-top: 20px;
}

.a2-right-text1{
    color: var(--beige);
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
}


.breakdown-button{
    border-radius: 5px;
    width: 270px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 104;
    position: absolute;

    color: var(--beige);
    background-color: var(--black);
    border-color:  var(--black);

    will-change: transform;
    top: 640px;
    transition: all 0.3s ease;
}


.breakdown-button:hover{
    transform: translateX(-50%) translateY(-5px) !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blackout-box{
    background-color: var(--black);
    left: 50%;
    transform: translate(-50%, -50%);

    top: 670px;
    z-index: 103;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}

.breakdown-div{
    left: 50%;
    transform: translateX(-50%);

    z-index: 105;
    position: absolute;

    width: 700px;
    height: 240px;
    will-change: transform;

    box-sizing: border-box;
    
    background-color:  var(--black);
    border-radius: 10px;
    top: 250px;
    display: none;
}

.breakdown-div-title{
    color: var(--beige);
    margin-left: 30px;
    margin-top: 20px;
}

.breakdown-div-text{
    color: var(--beige);
    margin-left: 40px;
    margin-right: 40px;
}

.showProblem-button{
    border-radius: 5px;
    width: 270px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 102;
    position: absolute;

    top: 500px;
    transition: all 0.3s ease;

    opacity: 0;
    pointer-events: none;
}


.showProblem-button:hover{
    transform: translateX(-50%) translateY(5px) !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.orange-tag{
    z-index: 100;
    position: absolute;

    width: 150px;
    height: 75px;
    will-change: transform;
    
    right: -75px;

    border-radius: 15px;
    top: 180px;

    background-color: var(--orange);
    opacity: 0;
}


.objectives-wrapper{
    opacity: 0;
}

/* .a-1 {
    z-index: 100;
    position: absolute;

    width: 350px;
    height: 600px;
    will-change: transform;

    box-sizing: border-box;

    background-color: var(--dark-beige);
    border-radius: 15px;

    top: 0px;
    left: 0px;
    
    overflow: hidden;
}
.a-1-title {
    color: var(--beige);
    margin: 0;
    padding-left: 20px;
}
.a-1-subtext {
    color: var(--beige);
    text-align: justify;
    
    width: 250px;
    padding-left: 35px;
}
.a-1-subtitle {
    color: var(--beige);
    text-align: justify;
    
    margin-top: 30px;

    width: 250px;
    padding-left: 35px;
}
.a-image {
    z-index: 100;
    position: absolute;

    width: 400px;
    height: 250px;
    will-change: transform;
    
    top: 100px;
    left: 300px;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;
    overflow: hidden;

}

.a-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.a-2 {
    z-index: 100;
    position: absolute;

    width: 500px;
    height: 150px;
    will-change: transform;
    
    top: 400px;
    left: 30px;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;


    background-color: var(--off-black);
    overflow: hidden;
}

.a-2-title {
    color: var(--beige);
    margin: 0;
    padding-left: 20px;
}
.a-2-subtext {
    color: var(--beige);
    text-align: justify;
    
    width: 90%;
    padding-left: 25px;
}
.a-3 {
    z-index: 100;
    position: absolute;

    width: 150px;
    height: 75px;
    will-change: transform;
    
    top: 510px;
    left: 440px;

    border-radius: 15px;

    background-color: var(--orange);
} */






.b {
    left: 50%;
    transform: translateX(-50%);

    z-index: 100;
    position: absolute;

    width: 760px;
    height: 700px;
    will-change: transform;

    box-sizing: border-box;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;

    top: 700px;
}
.b-1{
    z-index: 100;
    position: absolute;

    width: 510px;
    height: 210px;
    will-change: transform;
    
    top: 40px;
    left: 0px;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;


    background-color: var(--off-black);
    overflow: hidden;
}
.b-1-title {
    color: var(--beige);
    padding-left: 20px;
}
.b-1-subtitle {
    color: var(--beige);
    text-align: left;
    width: 300px;
    
    margin-top: 5px;
    margin-left: 25px;
}

.b-image {
    z-index: 100;
    position: absolute;

    width: 375px;
    height: 325px;
    will-change: transform;
    
    top: 100px;
    right: 0px;

    border-style: solid;
    border-color: var(--beige);
    border-width: 2px;
    border-radius: 15px;
    overflow: hidden;

}
.b-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.b-2{
    z-index: 100;
    position: absolute;

    width: 385px;
    height: 250px;
    will-change: transform;
    
    top: 260px;
    left: 0px;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;

    overflow: hidden;
}
.b-2-title{
    color:  var(--black);
    margin-left: 10px;
}
.b-2-line{
    z-index: 100;

    margin-left: 2.5%;
    width: 95%;

    height: 2px;
    will-change: transform;
    
    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 1px;
    background-color: var(--black);
}
.b-2-text{
    margin-top: 5px;
    color:  var(--black);
    text-align: justify;
    width: 350px;

    margin-left: 15px;
}
.b-3{
    z-index: 100;
    position: absolute;

    width: 145px;
    height: 70px;
    will-change: transform;
    
    top: 10px;
    right: 175px;

    border-radius: 15px;

    background-color: var(--orange);
}



.c {
    left: 50%;
    transform: translateX(-50%);

    z-index: 100;
    position: absolute;

    width: 760px;
    height: 700px;
    will-change: transform;

    box-sizing: border-box;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;

    top: 2000px;
}
.c-1{
    z-index: 100;
    position: absolute;

    width: 480px;
    height: 250px;
    will-change: transform;
    
    top: 40px;
    right: 0px;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;


    background-color: var(--off-black);
    overflow: hidden;
}
.c-1-title {
    color: var(--beige);
    padding-right: 25px;
    
    text-align: right;
}
.c-1-subtitle {
    
    color: var(--beige);
    text-align: left;
    width: 300px;

    
    margin-top: 5px;
    margin-left: 130px;
}

.c-image {
    z-index: 100;
    position: absolute;

    width: 375px;
    height: 400px;
    will-change: transform;
    
    top: 70px;
    left: 0px;

    border-style: solid;
    border-color: var(--beige);
    border-width: 2px;
    border-radius: 15px;
    overflow: hidden;

}
.c-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.c-2{
    z-index: 100;
    position: absolute;

    width: 360px;
    height: 300px;
    will-change: transform;
    
    top: 300px;
    right: 20px;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;

    overflow: hidden;
}
.c-2-title{
    color:  var(--black);
    margin-left: 10px;
}
.c-2-line{
    z-index: 100;

    margin-left: 2.5%;
    width: 95%;

    height: 2px;
    will-change: transform;
    
    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 1px;
    background-color: var(--black);
}
.c-2-text{
    margin-top: 5px;
    color:  var(--black);
    text-align: justify;
    width: 90%;

    margin-left: 5%;
}
.c-3{
    z-index: 100;
    position: absolute;

    width: 145px;
    height: 70px;
    will-change: transform;
    
    top: 480px;
    left: 225px;

    border-radius: 15px;

    background-color: var(--orange);
}



.d {
    left: 50%;
    transform: translateX(-50%);

    z-index: 100;
    position: absolute;

    width: 760px;
    height: 700px;
    will-change: transform;

    box-sizing: border-box;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;

    top: 3000px;
}
.d-1{
    z-index: 100;
    position: absolute;

    width: 460px;
    height: 190px;
    will-change: transform;
    
    top: 40px;
    left: 0px;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;


    background-color: var(--off-black);
    overflow: hidden;
}
.d-1-title {
    color: var(--beige);
    padding-left: 20px;
}
.d-1-subtitle {
    color: var(--beige);
    text-align: left;
    width: 300px;
    
    margin-top: 5px;
    margin-left: 25px;
}

.d-image {
    z-index: 100;
    position: absolute;

    width: 335px;
    height: 290px;
    will-change: transform;
    
    top: 100px;
    left: 420px;

    border-style: solid;
    border-color: var(--beige);
    border-width: 2px;
    border-radius: 15px;
    overflow: hidden;

}
.d-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.d-2{
    z-index: 100;
    position: absolute;

    width: 380px;
    height: 250px;
    will-change: transform;
    
    top: 230px;
    left: 40px;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;

    overflow: hidden;
}
.d-2-title{
    color:  var(--black);
    margin-left: 10px;
}
.d-2-line{
    z-index: 100;

    margin-left: 2.5%;
    width: 95%;

    height: 2px;
    will-change: transform;
    
    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 1px;
    background-color: var(--black);
}
.d-2-text{
    margin-top: 5px;
    color:  var(--black);
    text-align: justify;
    width: 350px;

    margin-left: 15px;
}
.d-3{
    z-index: 100;
    position: absolute;

    width: 145px;
    height: 70px;
    will-change: transform;
    
    top: 10px;
    left: 370px;

    border-radius: 15px;

    background-color: var(--orange);
}


.e {
    left: 50%;
    transform: translateX(-50%);

    z-index: 100;
    position: absolute;

    width: 760px;
    height: 700px;
    will-change: transform;

    box-sizing: border-box;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;

    top: 4000px;
}
.e-1{
    z-index: 100;
    position: absolute;

    width: 440px;
    height: 250px;
    will-change: transform;
    
    top: 40px;
    right: 0px;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;


    background-color: var(--off-black);
    overflow: hidden;
}
.e-1-title {
    color: var(--beige);
    padding-right: 20px;
    
    text-align: right;
}
.e-1-subtitle {
    color: var(--beige);
    text-align: left;
    width: 260px;

    
    margin-top: 5px;
    margin-left: 90px;
}

.e-image {
    z-index: 100;
    position: absolute;

    width: 375px;
    height: 260px;
    will-change: transform;
    
    top: 0px;
    left: 0px;

    border-style: solid;
    border-color: var(--beige);
    border-width: 2px;
    border-radius: 15px;
    overflow: hidden;

}
.e-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.e-2{
    z-index: 100;
    position: absolute;

    width: 360px;
    height: 300px;
    will-change: transform;
    
    top: 290px;
    left: 315px;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;

    overflow: hidden;
}
.e-2-title{
    color:  var(--black);
    margin-left: 10px;
}
.e-2-line{
    z-index: 100;

    margin-left: 2.5%;
    width: 95%;

    height: 2px;
    will-change: transform;
    
    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 1px;
    background-color: var(--black);
}
.e-2-text{
    margin-top: 5px;
    color:  var(--black);
    text-align: justify;
    width: 90%;

    margin-left: 5%;
}
.e-3{
    z-index: 100;
    position: absolute;

    width: 145px;
    height: 70px;
    will-change: transform;
    
    top: 270px;
    left: 160px;

    border-radius: 15px;

    background-color: var(--orange);
}

.f {
    left: 50%;
    transform: translateX(-50%);

    z-index: 100;
    position: absolute;

    width: 45%;
    height: 700px;
    will-change: transform;

    box-sizing: border-box;

    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 15px;

    top: 5000px;
}