.container0 {
    top: 2500px;
    position: absolute;
}


.video-banner {
    position: absolute;
    top: 3000px;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    z-index: 100;
}

.video-banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.pinned-section {
    background: #fdf6e3;
    padding: 100px;
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 4000px;
}

.pinned-section .text {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.pinned-section .image {
    width: 400px;
    height: auto;
    border-radius: 12px;
}

.pinned-section0 {
    background: #fffbe6;
    padding: 100px 20px;
    text-align: center;


    position: absolute;
    z-index: 100;
    top: 7000px;
}

.text {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.gallery-image {
    width: 200px;
    opacity: 0;
    transform: scale(0.8);
    border-radius: 12px;
    transition: transform 0.3s ease;
}